services:
  media_weightings:
    build: .
    container_name: lucos_media_weightings
    ports:
      - $PORT:$PORT
    environment:
      - PORT
      - MEDIA_API
      - KEY_LUCOS_MEDIA_METADATA_API
      - SCHEDULE_TRACKER_ENDPOINT
    image: lucas42/lucos_media_weightings
    restart: always
