[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lucos-loganne-pythonclient = "==1.0.37"
lucos-schedule-tracker-pythonclient = ">=2.0.0"
waitress = "*"

[dev-packages]
